.about {
	padding-top: 120px;
	@include mq(no-desk) {
		padding-top: 80px;
	}
	@include mq(mob-only) {
		padding-top: 40px;
	}
	&__subtitle {
		position: relative;
		padding-left: 13px;
		padding-top: 8px;
		@include circle;
		&:before {
			left: 0;
			top: 0;
			transform: translateX(0);
			@include mq(mob-only) {
				left: 50%;
				transform: translateX(-50%);
			}
		}
		@include mq(mob-only) {
			text-align: center;
		}
	}

	&__wrapper {
		display: grid;
		grid-template-columns: 400px 570px;
		grid-template-rows: minmax(160px, auto) minmax(230px, auto);
		justify-content: center;
		gap: 40px 70px;
		@include mq(no-desk) {
			grid-template-columns: 320px 380px;
			gap: 35px 35px;
		}
		@include mq(mob-only) {
			grid-template-columns: minmax(280px, auto);
			gap: 35px;
			justify-items: center;
			padding: 0 50px;
		}
		@include mq(mob) {
			padding: 0 10px;
		}
	}

	&__title {
		text-align: left;
		position: relative;
		margin-bottom: 24px;
		padding: 0;
		@include line;
		&:after {
			bottom: -5px;
			left: 0;
			transform: translateX(0);
			@include mq(mob-only) {
				left: 50%;
				transform: translateX(-50%);
			}
		}
		@include mq(mob-only) {
			text-align: center;
		}
	}
	&__text {
		font-weight: 500;
		font-size: 14px;
		line-height: 21px;
		@include mq(mob-only) {
			text-align: center;
		}
	}
	&__photo {
		grid-row: 1/3;
		max-width: 100%;
		height: 600px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@include mq(no-desk) {
			height: 530px;
		}
		@include mq(mob-only) {
			max-width: 100%;
		}
	}
}
.about-skills {
	&__list {
		display: grid;
		grid-template-columns: repeat(2, 260px);
		gap: 20px 50px;
		@include mq(no-desk) {
			grid-template-columns: 1fr;
		}
		@include mq(mob-only) {
			grid-template-columns: 1fr;
			// gap: 20px 30px;
		}
	}
	&__item {
		display: grid;
		grid-template-columns: 40px 1fr;
		column-gap: 20px;
		@include mq(mob-only) {
			column-gap: 15px;
		}
	}
	&__subtitle {
		margin-bottom: 6px;
	}
	&__icon {
		position: relative;
		display: inline-block;
		margin-right: 20px;
		padding-left: 15px;
		padding-top: 15px;
		@include circle;
		&:before {
			left: 0;
			top: 0;
			transform: translateX(0);
		}
	}
}
