.skills {
	padding-top: 120px;
	@include mq(no-desk) {
		padding-top: 80px;
	}
	@include mq(mob-only) {
		padding-top: 46px;
	}

	&__title {
		position: relative;
		margin-bottom: 60px;
		text-align: center;
		@include line;
	}
	&__list {
		display: grid;
		// padding: 0 10px;
		grid-template-columns: repeat(4, 265px);
		gap: 13px;
		margin-bottom: 120px;
		justify-content: center;
		@include mq(no-desk) {
			grid-template-columns: repeat(2, 300px);
			margin-bottom: 100px;
		}
		@include mq(mob-only) {
			grid-template-columns: repeat(2, 220px);
			margin-bottom: 80px;
		}
		@include mq(mob) {
			grid-template-columns: 300px;
			margin-bottom: 60px;
		}
	}
	&__item {
		padding: 30px 30px 25px 30px;
		border: 1px solid $main-text-color;
		box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.2);
		@include mq(mob-only) {
			padding: 20px 20px 25px 20px;
		}
		div {
			height: 65px;
			margin-bottom: 20px;
			display: flex;
			align-items: center;
		}
		&_subtitle {
			margin-bottom: 15px;
		}
		&_text {
			font-weight: 500;
			font-size: 12px;
			line-height: 18px;
		}
	}
	&-development {
		&__list {
			display: grid;
			grid-template-columns: repeat(3, 340px);
			gap: 30px 45px;

			@include mq(no-desk) {
				grid-template-columns: repeat(2, 340px);
			}
			@include mq(mob-only) {
				grid-template-columns: repeat(2, auto);
			}
			@include mq(mob) {
				grid-template-columns: 1fr;
			}
		}

		&__usage {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 27px;
		}
		&__name {
			position: relative;
			padding-top: 8px;
			padding-left: 13px;
			font-weight: 700;
			font-size: 14px;
			line-height: 21px;
			@include circle;
			&:before {
				top: 0;
				left: 0;
				transform: translateX(0);
			}
		}
		&__percent {
			font-weight: 500;
			font-size: 14px;
			line-height: 21px;
		}
		&__status {
			width: 100%;
			height: 14px;
			background-color: #e8e4de;
			border-radius: 4px;
		}
		&__filled {
			height: 100%;
			background-color: $accent-color;
			border-radius: 4px;
		}
	}
}
